/* Importación de fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

/* Comentario sobre las fuentes utilizadas */
/*
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* Estilos globales para resetear el formato predeterminado */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.slider {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 100%;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

body{
    font-family: 'Poppins', sans-serif; 
}

img{
    max-width: 100%; 
}

/* Contenedor principal con ancho máximo y centrado */
.container{
    max-width: 1300px;
    margin: 0 auto;
}

/* Estilos para el encabezado */

/* Añade este estilo para ocultar el submenú por defecto */
.submenu-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Añade estilos para mostrar el submenú al pasar el ratón */
.submenu:hover .submenu-content {
    display: block;
}

.submenu-content li {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Línea entre elementos */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.submenu-content a {
    color: #111;
    text-decoration: none;
    display: block;
}

.submenu-content a:hover {
    background-color: #f5f5f5;
}

.header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 70px 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos del logotipo */
.logo{
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 600;
}



/* Estilos para elementos de la barra de navegación */
.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

/* Estilos para el icono de menú en dispositivos móviles */
#menu{
    display: none;
}

.menu-icono {
    width: 25px;

}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

/* Estilos para el carrito de compras en el menú */
.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

/* Estilos para tabla del carrito de compra*/
table{
    width: 100%;
}

th, td {
    color: #ffffff;
}

/* Estilos para el botón de eliminar en el carrito de compras */
.borrar{
    background-color: #111111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

/* Estilos para el contenido del encabezado */
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-img{
    flex-basis: 100%;
}

/* Estilos para la sección de ofertas */
.ofert{
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px; /* Ajusta el espacio entre las imágenes */
}

.ofert-img {
    position: relative;
    overflow: hidden;
}

.ofert-img img {
    width: 100%;
    height: auto;
    border: 0; /* Elimina cualquier borde alrededor de la imagen */
    transition: transform 0.3s ease-in-out;
}

.ofert-img:hover img {
    transform: scale(1.1);
}



.btn-2{
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}

.ofert-1 {
    position: relative;
    overflow: hidden;
}

.ofert-img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.ofert-1:hover .ofert-img img {
    transform: scale(1.2);
}



/* Estilos para la sección de productos */
.products{
    padding: 0 0 100px 0;
    text-align: center;
}

.products h2{
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 55px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product {
    text-align: center;
    padding: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 170px;
    height: 150px;
    margin-bottom: 10px;
}

.product h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald' sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p, .precio{
    font-size: 16px;
    margin: 0;
    color: #111111;
    margin-bottom: 13px;
    font-weight: 600;
}

.precio{
    font-weight: 800;
}

/* Estilos para la sección de iconos */
.icons{
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color:#f5f5f5;
}

.icon-txt h3{
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.icon-txt p{
    font-size: 16px;
    color: #111111;
}

.cuadro {
    color: white; /* Cambia el color del texto para que sea legible en el fondo negro */
    padding: 10px; /* Ajusta el espacio dentro del contenedor */
    margin: 10px 0; /* Ajusta el margen del contenedor */
    display: inline-block; /* Hace que el fondo se ajuste al contenido en lugar de ocupar todo el ancho */
    border: 2px solid #181713/* Agrega un borde negro alrededor del contenedor */
}


.information {
    width: 70%;
    align-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0,.1);
    padding: 25px 75px;
    margin-top: -75px;
    background-color: #FFFFFF;
}

.information-content {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.information-1 img {
    width: 35px;
}

h3 {
    font-size: 17px;
    color: #181713;
    text-transform: capitalize;
}

.information-1 p {
    margin-bottom: 0;
}

/* Estilos para la sección de blogs */
.blog {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.blog-1 {
    flex-basis: calc(45% - 30px); /* Reduje el espacio entre las imágenes */
    margin-bottom: 20px; /* Agregué espacio entre las filas */
}

.blog-content {
    position: relative;
    overflow: hidden;
}

.blog-content img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.blog-content:hover img {
    transform: scale(1.1);
}

.blog-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Color blanco para el texto */
}

.blog-text h3 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px; /* Reduje el margen inferior */
    color: #FFFFFF;
    white-space: nowrap;
}

.info-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}



/* Estilos para el pie de página */
/* Estilos Generales del Pie de Página */
.footer {
    padding: 50px 0;
    background-color: #111111;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

/* Estilos de la Navegación */
.navegacion h3,
.medios-de-Pago h3,
.contactanos h3,
.redes-sociales h3 {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.navegacion a,
/* Estilos para la sección "Medios de Pago" */
.medios-de-Pago {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.medios-de-Pago ul {
    list-style: none; /* Elimina los estilos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    display: flex; /* Coloca las imágenes en una fila */
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center; /* Centra las imágenes verticalmente */
}

.medios-de-Pago img {
    max-width: 100px; /* Establece el ancho máximo de la imagen */
    height: auto; /* Hacer que la altura sea automática para mantener la proporción */
    margin: 10px; /* Agrega espacio entre las imágenes */
}
.contactanos a,

.redes-sociales .fab {
    font-size: 24px;
    margin-right: 10px;
    color: #ffffff; 
}


/* Estilos de los Íconos de Redes Sociales */
.redes-sociales .fa {
    font-size: 24px;
    margin-right: 10px;
    color: #DCDCDC;
}

/* Diseño Responsivo */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

/*Estilos para dispositivos moviles*/
@media (max-width: 991px){

    /* Sección de estilos para el menú de navegación en dispositivos móviles */
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none; /* Oculta la barra de navegación */
    }

    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar ul li a{
        color: #ffffff;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .logo{
        display: none;
    }

    .submenu:hover #carrito{
        min-width: 100%;
    }

    .header {
        min-height: 0vh;
    }

    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }

    /*estilos a las ofertas en dispositivos moviles*/

    .ofert{
        padding: 30px 30px 0 30px; /* Cambia el espaciado de las ofertas */
        flex-direction: column;
    }

    .ofert-1{
        margin-bottom: 30px;
    }

    /* Estilos para la sección de productos en dispositivos móviles */
    .products{
        padding: 0 30px 30px 30px; /* Cambia el espaciado de la sección de productos */
    }

    .product h2{
        margin-bottom: 30px;
    }

    .product-content {
        grid-template-columns: repeat(1,1fr); /* Cambia la disposición de las columnas de productos a una sola columna */
        gap: 30px; /* Establece un espacio entre los productos */
    }

    /* Estilos para la sección de iconos en dispositivos móviles */
    .icons{
        padding: 100px;
        flex-direction: column;
    }

    .icon-1{
        margin-bottom: 40px;
    }

    /* Estilos para la sección de blogs en dispositivos móviles */
    .blog{
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }

    .blog-1{
        margin-bottom: 30px;
    }

    /* Estilos para el pie de página en dispositivos móviles */
    .footer{
        padding: 30px; /* Añade espaciado al pie de página */
    }

    .footer-content{
        flex-direction: column; /* Cambia la dirección de los elementos del pie de página a columnas */
        text-align: center; /* CENTRa el texto en el pie de pagina */
    }


}
